{block title}Tréninky{/block}
{block content}
<h1>Tréninky</h1>
{control trainingForm}
<table>
    <tr><th>Název</th><th>Trenér</th><th>Začátek</th><th>Konec</th><th>Místnost</th><th>Kapacita</th></tr>
    <tr n:foreach="$items as $item">
        <td>{$item['title']}</td>
        <td>{$item['trainerName']}</td>
        <td>{$item['startsAt']}</td>
        <td>{$item['endsAt']}</td>
        <td>{$item['roomTitle']}</td>
        <td>{$item['capacity']}</td>
    </tr>
</table>
