{block title}Produkty{/block}
{block content}
<h1>Produkty</h1>
<p><a n:href="edit">Nový produkt</a></p>
<table>
    <tr><th>Název</th><th>Kategorie</th><th>Tagy</th><th></th></tr>
    <tr n:foreach="$items as $item">
        <td>{$item->title}</td>
        <td>{$item->category_names}</td>
        <td>{$item->tag_names}</td>
        <td><a n:href="edit $item->id">Editovat</a> <a n:href="delete $item->id">Smazat</a></td>
    </tr>
</table>
